.header {
    background-color: rgb(18, 18, 84);
    padding: 20px;
}

.title {
    text-align: center;
    color: white;
}

.input-group {
   padding-top: 10px;
    width: 90%;
}

.search-title {
    padding-top: 10px;
}

.current-forecast {
    position: absolute;
    right: 800px;
}

.card-fiveday {
    width: 18rem;
}

.row {
    margin-right: 0;
}

.currentRow {
     width: 100%;
     border: 1px solid black;
     height: 200px;
}